
body{
	background-color: white !important; 
}
div {
	display: inline-block;
    height: 200px;
    position: absolute;
    width: 200px;
    background-image:url('./1.png');
    background-size: contain;
    left:200px;
}
div.first {
	background-image:url('./1.png');

z-index:1;
}
div.first.later {
	animation: myfirst 1s;
    animation-direction: alternate;
    background-image: url(./2.png);
    transform-style: preserve-3d;
    left:0;
}

@keyframes myfirst {
 0% {
            transform: translateZ(0) rotateY(0);
  }
  50% {
            transform: rotateY(90deg);
  }
  100% {
            transform: rotateY(0);
  }
  0%   {
  	background-image: url(./1.png);
     left: 200px; top: 0px;
 }
  100% {
  	background-image: url(./2.png);
     left: 0; top: 0px;
  }
}


.third {
	z-index:0;
	background-image: url(./3.png);
	left: 200px;
    position: absolute;
    transition: width 1s;
    background-repeat: no-repeat;
    transition-timing-function: cubic-bezier(0,1,1,1);
    width:200px;
    
}
.stackup{
	z-index: 99999 !important;
}

/*@keyframes lastanim {
0%   {
  	width:0;
 }

100%   {
  	width:200px;
 }
 }*/

div.second {background-image:url('./5.jpg');
left:200px;
z-index:1;

}
div.second.later {
    height: 200px;
    position: absolute;
    animation: mysecond 1s;
    width: 200px;
    left:400px;
    background-size: contain;
    animation-direction: alternate;
    background-image: url(./4.png);
        transform-style: preserve-3d;
}

@keyframes mysecond {
 0% {
            transform: translateZ(0) rotateY(0);
  }
  50% {
            transform: rotateY(-90deg);
  }
  100% {
            transform: rotateY(0);
  }
  0%   {
  	background-image: url(./5.jpg);
     left: 200px; top: 0px;
 }
  100% {
  	background-image: url(./4.png);
     left: 400px; top: 0px;
  }
}



/*
.flip-container
{
    width:400px;
    height:400px;
    margin:auto;
    position:relative;
    -webkit-perspective:1000;
    perspective:1000;
}

.flip-cards div
{
    width:200px;
    background-size:contain;
    height:200px;
    position:absolute;
    border-radius:15px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-cards
{
    width:200px;
    height:200px;
    position:relative;
    float:left;
    background-size:contain;
    margin-left:5px;
    -webkit-transition: all 1s ease;
    transition: all 5s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-cards:hover
{
    transform: translateZ(100px)  rotateY( -180deg );
}

.front-card
{
    left: 200px;
    background-image: url('./1.png');
}

.reverse-card
{
    transform: rotateY( -180deg );
}

#card2
{
    background-image: url('./2.png');
}
*/